.web-extension-id
web-ext-artifacts/
*.bak
build_ff.bat
src.crx
src.pem
*.crx
*.pem
VT-TID.zip
sign_ff.bat
VT-TID/TwitterIdentifier.zip
VT-TID_Needle/TwitterIdentifier.zip
VT-TID/manifest.old
VT-TID_FF/manifest.old
VT-TID_FF/TwitterIdentifier.zip
